<div class="instruct-image-block1">
    <div class="instruct-image-block2">
        <img class="img1" id="image1" src="../../../assets/image/image 81.png">
        <img class="img2" id="image2" src="../../../assets/image/Group 277.png">
        <img class="img1" id="image3"src="../../../assets/image/image 82.png">
        <img class="img2" id="image2" src="../../../assets/image/Group 277.png">
        <img class="img1" id="image3"src="../../../assets/image/image 844.png">
    </div>
    <div class="instruct-image-block2" id="block3">
        <div class="instruct-image-block3" id="block1">
            <div>загрузите фото</div>
            <div style="font-weight: bold;">или</div>
            <div>введите информацию о</div>
            <div>найденном мусоре</div>
        </div>
        <div class="instruct-image-block3" id="block2">
            <div>введите адрес, где</div>
            <div>был обнаружен</div>
            <div>мусор, и дату</div>
        </div>
        <div class="instruct-image-block3" >
            <div>наш сервис выведет</div>
            <div>фото, на котором</div>
            <div>выделен и</div>
            <div>классифицирован</div>
            <div>мусор</div>
        </div>
    </div>
</div>

<div id="instract-next">
    <div routerLinkActive="active" class="next">
        <a [routerLink]="['/system', 'search-trash','load-file']" style="text-decoration: none; color:white">Далее</a>
    </div>
</div>

