#req
{
   margin-bottom: 150px;
   margin: 46px 0 0 15px;
}

#first-left-block
{
    height: 184px;
    border: 3px solid #396536;
    border-radius: 8px 8px 0px 0px;
    width: 271px;
}

#img
{
    width: 128px;
    height: 128px;
    margin:28px 71px 28px 72px;
}

.block-row
{
    display: flex;
    flex-direction: row;
}

.block-column
{
    display: flex;
    flex-direction: column;
}

#second-left-block
{
    text-align: center;
    font-family: 'Freeride';
    color: #FFFFFF;
    font-size: 26px;
    height: 48px;
    background: #396536;
    border: 2px solid #396536;
    border-radius: 0px 0px 10px 10px;
    width: 273px;
}

#text-second-left-block
{
    margin:7px 0;
}

#three-left-block
{
    height: 47px;
    background: #396536;
    border-radius: 10px;
    text-align: center;
    font-family: 'Freeride';
    color: #FFFFFF;
    font-size: 26px;
    margin:10px 0;
    width: 273px;
}

#text-three-left-block
{
    margin:7px 0;
}


.card
{
    width:  1127px;
    height: 573px;
    background: #C7F3C3;
    border-radius: 10px;
    margin:0 213px 0 60px;
    display: flex;
    flex-direction: column;
}

#block1
{
    display: flex;
    flex-direction: row;
}

.num
{
    font-family: 'Freeride';
    color: #FFFFFF;
    font-size: 26px;
    background: #7FB07C;
    border-radius: 10px;
    width: 42px;
    height: 47px;
    margin:13px 0 0 20px;
}

#text1
{
  margin: 7px 0 0 0;
  text-align: center;
}

.text-mid
{
    font-family: 'Freeride';
    color: black;
    font-size: 26px;
    margin:21px 0 21px 29px;
}

.count-trash
{
    width: 361px;
    height: 40px;
    background: #7FB07C;
    border-radius: 10px;
    margin: 6px 500px 0 20px;
    font-family: 'Freeride';
    color: #FFFFFF;
    font-size: 24px;
    position: absolute;
}

#text2
{
    padding: 5px 0 0 0;
    text-align: center;
}

.card-img
{
    width: 489.58px;
    height: 260px;
    border-radius: 10px;
}

.results-map {
    width: 519px;
    height: 260px;
    margin-top: 94px;
    margin-left: 587px;
    position: absolute;
}

#block3
{
    display: flex;
    flex-direction: row;
    margin:300px 20px 0 20px;
    width: 1087px;
    position:absolute;
}

.button1
{
   text-align: center;
    background: #7FB07C;
    border-radius: 10px;
    height: 38px;
    width: 232px;
}

.button2
{
    text-align: center;
    background: #7FB07C;
    border-radius: 10px;
    height: 38px;
    width: 208px;
    margin-left: 646px;
}

#b-text1
{
    font-family: 'Freeride';
    color: #FFFFFF;
    font-size: 24px;
    padding: 4px 0;
}

#b-text2
{
    font-family: 'Freeride';
    color: #FFFFFF;
    font-size: 24px;
    text-decoration: none;
    padding: 4px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cont{
    margin:0 110px;
    position: fixed;
}

.button-res {
    display: inline-block;
    margin-top: 40px;
    flex-direction: row;
    justify-content:space-between;
    
}

.modal {
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

.modal-content {
    background-color: #C7F3C3;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    height: auto;
    border-radius: 10px;
    width: 800px;
    font-family: 'Freeride';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 32px;
    color: #000000;
    text-align: center;
}

.close {
    color: black;
    float: right;
    font-size: 38px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.classification-title {
    font-family: 'Freeride';
    font-style: normal;
    font-weight: 550;
    font-size: 26px;
    line-height: 38px;
    color: #000000;
    height: 28px;
    padding: 0 0 20px 0;
    outline: none;
    cursor: pointer;
}

textarea:focus{
    outline: none;
}

.textarea-report {
    background: #FFFFFF;
    border-radius: 8px;
    width: 700px;
    height: 204px;
    font-family: 'Freeride';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: black;
    resize: none;
}
.report-btn {
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Freeride';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #FFFFFF;
    background: #7FB07C;
    border-radius: 10px;
    width: 137px;
    cursor: pointer;
    margin: 10px auto;
}

#imgTrash
{
    margin-left: 20px;
    margin-top: 20px;
}

#blockTrashClass
{
    border-radius: 10px;
    height: auto;
    width: 481px;
    margin-left:20px;
}

#nameClass
{
    color: black;
    font-family: 'Freeride';
    font-size: 24px;
    font-weight: 600;
    border-bottom: 2px solid black;
    padding-bottom: 3px;
    margin-bottom: 10px;
    width: 131px;
    padding-top: 11px;
}

#class
{
    color: black;
    font-family: 'Freeride';
    font-size: 24px;
    padding-bottom: 10px;
    width: 453px;
}