<div id="req">

    <div class="block-row">
        <div class="block-column">
            <div id="first-left-block">
                <img id="img" src="../../../assets/image/Group 251.png">
            </div>
            <div id="second-left-block">
                <div id="text-second-left-block">klava12@mail.ru</div>
            </div>
            <div id="three-left-block">
                <div id="text-three-left-block">Выйти из аккаунта</div>
            </div>
        </div>
        <div class="card">
            <div *ngFor="let c of arr">
                <div id="block1">
                    <div class="num">
                        <div id="text1">{{c.id}}</div>
                    </div>
                    <div class="text-mid">Найден мусор: {{c.adress}}, {{c.request_date}}</div>
                  
                </div>
                <div class="count-trash" *ngIf="c.cleanFlag" >
                    <div id="text2"> {{c.status}}</div>
                </div>
                    <div id="imgTrash">
                        <img class="card-img" [src]="c.photo_src">
                    </div>
                    <div id="block3">
                        <div class="button1">
                            <div id="b-text1" (click)="open()">Сообщить об ошибке</div>
                        </div>
                        <div class="button2" *ngIf="c.notViewFlag" (click)="view(c.id)">
                            <div id="b-text2">{{c.status}}</div>
                        </div>
                        <div class="button2" *ngIf="c.viewFlag" (click)="clean(c.id)">
                            <div id="b-text2">{{c.status}}</div>
                        </div>
                        <div class="button2" *ngIf="c.cleanFlag" (click)="noTrash()">
                            <div id="b-text2">Ок</div>
                        </div>
    
                    </div> 
                
            </div>
            <div id="map" class="results-map"></div>
            
            <div class="cont">
                <div class="button-res">
                    <div *ngIf="isOpen" class="modal">
                        <div class="modal-content">
                            <span span (click)="open()" class="close">&times;</span>
                            <div class="classification-title">Сообщение об ошибке</div>
                            <textarea class="textarea-report"></textarea>
                            <div class="report-btn">Отправить</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>