<div class="main-info">
    <div class="main-info-about">
        
            <div style="margin-left: 90px;" class="main-info__title">
                УЛУЧШАЕМ
            </div>
            <div style="margin-left: 120px;" class="main-info__title">
                ЭКОЛОГИЧЕСКОЕ СОСТОЯНИЕ
            </div>
            <div style="margin-left: 27px;" class="main-info__title">
                Н.НОВГОРОДА И ЗА ЕГО ПРЕДЕЛАМИ
            </div>
        
        <div class="main-img-mobile">
            <img  src="../../../assets/image/Group 226.png" alt="">

        </div>
        <div class="main-info-descr">
            Мы - студенческое объединение, разработали сервис,
        </div>
        <div class="main-info-descr">
             который поможет избавиться 
        </div>
        <div class="main-info-descr">
            от лишнего мусора и сделать оружающую 
        </div>
        <div class="main-info-descr">
            обстановку приятнее и чище.
        </div>
    </div>
    <div class="main-info-img">
        <img src="../../../assets/image/main.png" alt="">
    </div>
</div>

